---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Youness Ouzzedi" description="About Youness Ouzzedi">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Read below to learn more about myself and my background."
			>
				
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Since my young age, my fascination for new technologies has been a constant source of inspiration,
						and my curiosity has naturally led me into the world of computer science,
						fueled by the desire to deeply understand the workings of the Internet and digital systems.
					</p>
						<br>
					<p>
						Living and working for Apple in Ireland for several years has been an incredible adventure.
						<br>
						I had the opportunity to develop a wide range of skills, from managing complex projects to intercultural collaboration.
						<br>
						This experience taught me the importance of open-mindedness.
					</p>
						<br>
					<p>
						It's this passion for new technologies and curiosity that drives me every day.
						<br>
						That's why I'm always enthusiastic about taking on new challenges with confidence and creativity.
					</p>
				</div>
			</section>
			<section>
					<h2 class="section-title">More...</h2>
					<div class="content">
					<p>
						I'm passionate about cryptocurrencies and blockchain technology.
					</p>
						<br>
					<p>
						Blockchain technology offers vast transformational possibilities in various sectors,
						from finance to logistics to data management.
					</p>
						<br>
					<p>
						I firmly believe that it can bring significant benefits in a world where decentralization, 
						security, and transparency will play an essential role.
					</p>
					</div>
			</section>
			<!-- <section>
				<h2 class="section-title">Diplômes</h2>
				<div class="content">
					<p>Bac+4 Concepteur d'Applications (RNCP)</p>
				</div>
			</section> -->
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>HTML, CSS, JavaScript, Swift, SwiftUI, React, React Native, NodeJS, NextJS, Express, MongoDB</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
